:host ::ng-deep body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 960px;
  height: 500px;
  position: relative;
}

:host ::ng-deep path.slice{
	stroke-width:2px;
}

:host ::ng-deep polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}