    <main class="center" id="main">

        <div class="page-area">

            <pb-article>
                <!-- A11y change, switched to H2 headings-->
                <h2 slot-one>Stay on track</h2>
                <p slot-two>
                    Do you know where you are spending your money? If you really stop to track it down,
                    you would get surprised! Proper budget management depends on real data... and this
                    app will help you with that!
                </p>
            </pb-article>
    
            <pb-article>
                <!-- This is a Semantic change -->
                <h2 slot-one>Live Budgeting Alerts</h2>
                <p slot-two>
                    To make sure you always have the right information as soon as you need it, we provide 
                    immediate alerts when you've exceeded your budget in any category. 
                </p>
            </pb-article>
    
            <pb-article>
                <h2 slot-one>Results</h2>
                <p slot-two>
                    People who stick to a financial plan, budgeting every expense, get out of debt faster!
                    Also, they to live happier lives... since they expend without guilt or fear... 
                    because they know it is all good and accounted for.
                </p>
            </pb-article>
    
            <pb-article>
                <!-- This is a Semantic change -->
                <h2 slot-one>Free, Fast, and Secure!</h2>
                <p slot-two>
                    Not only is this app completely free, but we do not store any of your personal data. 
                    Save money and sleep soundly knowing we've got your back!
                </p>
            </pb-article>
    
            <pb-article>
                <h2 slot-one>Stay on track</h2>
                <p slot-two>
                    Do you know where you are spending your money? If you really stop to track it down,
                    you would get surprised! Proper budget management depends on real data... and this
                    app will help you with that!
                </p>
            </pb-article>
    
            <pb-article>
                <h2 slot-one>Alerts</h2>
                <p slot-two>
                    What if your clothing budget ended? You will get an alert. The goal is to never go over the budget.
                </p>
            </pb-article>

            <article>
                <h2>Chart</h2>
                <p>
                    <canvas id="myChart" width="400" height="400" aria-label="A pie chart displaying your budget information"></canvas>
                </p>
            </article>

        </div>

    </main>